.App {
  text-align: center;
  justify-content: center;
  background-color: #282c34;
}
.heading{
  text-align: center;
  justify-content: center;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-h1{
  align-items: center;
  justify-content: center;
 
}
.app1{
  

  
}
#search-bar{
  height: 30px;
  width: 500px;
  align-items: center;
  justify-content: center;
  border-color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border{
  align-items: center;
  justify-content: center;
  
  margin: 50px;



}
.hhh{
  
  margin-left: 50%;
}
.hh2{
  margin-left: 20%;
}
.hh3{
  margin-left: 200px;
  margin-right: 200px;
  
}
.bor{
  margin-left: 20%;
  height: 20px;
  
}
